body {
    height: 100%;
    width: 50%;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

h1 {
    color: rgb(197, 191, 252);
}

#dicevisual {
    background-color: red;
}

#dice {
    text-align: center;
    background-color: rgb(116, 116, 255);
}

#diceImg {
    border-radius: 50px;
    padding: 10px;
}